.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D8CFC4;
}

.header-item {
    margin: 20px;
    font-size: 30px;
    color: #52392F;
}

.header-img {
    max-height: 80px;
}

.header-text {
    margin-bottom: 27px;
}

.navbar {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-color: #70483c;
    max-height: 100px;
}

.nav-item {
    margin: 30px 80px 50px 80px;
    color: #D8CFC4;
    font-size: 18px;
    display: block;
    height: 100%;
    transition: transform .2s;
}

.nav-item:hover {
    cursor: pointer;
    transform: scale(1.14);
}

.home-intro-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #70483c;
}

.home-intro-item {
    margin: 5px 20px 75px 20px;
}

.home-intro-pic {
    max-height: 400px;
}

.home-intro-text {
    max-width: 400px;
    color: #D8CFC4;
}